<ion-content>
  <ion-grid no-padding class="layout-grid">
    <ion-row>
      <ion-col col-9>
        
        <ion-grid no-padding class="main-grid">
          <ion-row class="main-grid-header" style="height: 15%;">
            <ion-col>
              <div>COFFEE ESPERANTO</div>
            </ion-col>
          </ion-row>
          <ion-row class="main-grid-content">
            <ion-col>
              
              <ion-segment [(ngModel)]="tabs">
                <ion-segment-button value="COF">
                  커피
                </ion-segment-button>
                <ion-segment-button value="BEB">
                  음료
                </ion-segment-button>
                <ion-segment-button value="TEA">
                  TEA
                </ion-segment-button>
                <ion-segment-button value="DEG">
                  디저트
                </ion-segment-button>
              </ion-segment>

              
              <div [ngSwitch]="tabs" class="menu-scroll-div">
                  
                <div *ngSwitchCase="'COF'">
                  <ion-grid class="menu-list">
                      
                    <ion-row>
                      <ion-col *ngFor="let item of items">
                        <div *ngIf="item.kind === 'COF'" class="menu-div {{item.select}}" (click)="selectMenu(item);">
                          <div>
                            <img src="{{item.img}}" />
                          </div>
                          <div class="menu-detail">
                            <div class="menu-title">{{item.title}}</div>
                            <div class="menu-price">{{item.price}}원</div>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>

                  </ion-grid>
                </div>
              
              </div>
              

              <div [ngSwitch]="tabs" class="menu-scroll-div">
                <div *ngSwitchCase="'BEB'">
                    <ion-grid class="menu-list">
                       
                        <ion-row>
                          <ion-col *ngFor="let item of items">
                            <div *ngIf="item.kind === 'BEB'" class="menu-div {{item.select}}" (click)="selectMenu(item);">
                              <div>
                                <img src="{{item.img}}" />
                              </div>
                              <div class="menu-detail">
                                <div class="menu-title">{{item.title}}</div>
                                <div class="menu-price">{{item.price}}원</div>
                              </div>
                            </div>
                          </ion-col>
                        </ion-row>
  
                      </ion-grid>
                </div>
              </div>

              <div [ngSwitch]="tabs">
                <div *ngSwitchCase="'TEA'">
                
                </div>
              </div>

              <div [ngSwitch]="tabs">
                <div *ngSwitchCase="'DEG'">
                
                </div>
              </div>

              
            </ion-col>
          </ion-row>

        </ion-grid>
        
      </ion-col>
      <ion-col>
        <ion-grid no-padding class="side-grid">
          <ion-row class="side-grid-seleted">
            <ion-col>

              <div *ngFor="let seletedItem of seletedItems; let i = index" class="side-grid-selected-item">
                <div class="menu-data">
                  <div class="title">
                      {{seletedItem.title}}
                  </div>
                  <div class="pmp">
                      <ion-icon md="md-add-circle" color="side-add-button" (click)="addCount(seletedItem)"></ion-icon>
                      <span class="cnt">{{seletedItem.count}}</span>
                      <ion-icon md="md-remove-circle" color="side-add-button" (click)="minCount(seletedItem)"></ion-icon>
                      <span class="price">{{seletedItem.price}}원</span>
                  </div>
                </div>
                <div class="close"><ion-icon md="md-close" color="light" (click)="dropItem(i)"></ion-icon></div>
              </div>

            </ion-col>
          </ion-row>
          <ion-row class="side-grid-button">
            <ion-col>
              <div class="side-grid-menu">
                <div class="side-grid-menu-text">총 주문수량</div>
                <div class="side-grid-menu-cp"><span>{{totalCnt}}</span>개</div>
                <div class="side-grid-menu-text">총 주문금액</div>
                <div class="side-grid-menu-cp"><span>{{totalPrice}}</span>원</div>
              </div>
              <div class="side-cancel-button">
                  <button ion-button color="side-cancel-button" (click)="emptySeleted()">전체취소</button>  
              </div>
              <div class="side-buttom-button">
                  <button ion-button color="side-buttom-button">신용카드<br/>결제</button>
                  <button ion-button color="side-buttom-button">이비카드<br/>결제</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>